.input-data {
    border: hidden;

    border-bottom: 1px solid green;
    color: gray;
}

.input-data:focus {
    outline: none;
    border-bottom: 2px solid green;
}

.text-area {
    resize: none;
    display: block;
    color: gray;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 12px;
}

.text-area:focus {
    outline-color: green;
}

.alert-response {
    z-index: 10;

}

.alert-fixed {
    position: fixed;
    top: 0;

}

.alert-absolute {
    position: absolute;
    top: -50px;
}

.admin-upload-price {
    width: 100%;
}



.admin-upload-price input {
    width: 90%;
}



.admin-upload-category select {

    width: 100%;
}


.no-img-selected {
    opacity: 0.09;
}

/* end of upload image */